@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');

* { @apply font-FunnelDisplay; }
/* class to center anything */
.center { @apply flex justify-center items-center; }
.check { border: 1px solid red; }

html { font-size: 16px; }
.container { width: 90%; }
@media (max-width: 1280px) { .container { width: 95%; } }
@media (max-width: 1024px) { .container { width: 100%; padding: 1rem; } }
@media (max-width: 640px) { html { font-size: 12px; } .container { padding: .5rem; } }